*{
background-color:brown

    
}
nav {
    margin: 20px;
    padding:25px;
    color:yellow;
}


table {
    display: block;

}

label input {
    display: block;
}
a {
    display: inline;
    padding:6px;
}

display {
    background-color: brown;
}


